<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/index.css" type="text/css" rel="stylesheet" />
    <title>SAMS</title>
</head>
<body>
    <nav class="navbar navbar-default crespoter-nav navbar-fixed-top" >
        <div class="container-fluid crespoter-container">
            <div class="navbar-header col-md-3">
                <a href="#" class="pull-left"><img src="img/logo.png" style="width:3.5vw;"></a>
                <a class="navbar-brand nav-header-crespoter" href="#" style="margin-left: 3%">SAMS</a>

            </div>
            <ul class="nav navbar-nav col-md-9">
                <li class="configure-adda col-md-offset-5 col-md-2"><a href="#" class="snow-white active">Students</a></li>
                <li class="col-md-3"><a href="#" class="snow-white">Faculty</a></li>
                <li class="col-md-2 cres-active"><a href="#" class="snow-white ">UserName</a></li>
            </ul>
        </div>
    </nav>
    <div class="row" style="margin-top:3%">
        <div class="col-md-2 sidebar dashboard navbar-fixed-top" style="overflow:auto;height:100%;padding-top:1.5%">
            <ul class="nav nav-sidebar">
                <li><a href="#" data-toggle="collapse" data-target="#demo">Course Registation</a></li>
				  <div id="demo" class="collapse submenu">
				    <li><a href="#">Register Courses</a></li>
				    <li><a href="#">Add/Drop Courses</a></li>
				  </div>
                <li><a href="#">Attendance</a></li>
                <li><a href="#">Assignment Submissions</a></li>
            </ul>
        </div>
        <div class="col-md-10" style="margin-top:2%;margin-left:15%;">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <p class="low-color-ash">Dashboard ></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>